---
---

@import "{{ site.theme }}";

// Personalización para eliminar los márgenes laterales
.main-content {
    max-width: 65%; // Cambia el ancho máximo a 100% (antes era 64rem)
    padding-left: 1rem; // Puedes ajustar esto según necesites
    padding-right: 1rem; // Puedes ajustar esto según necesites
}